.portfolio {
}
.portfolio-title {
  margin: 0 auto 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-item {
  width: calc((100% - 24px * 2) / 3);
}
.portfolio-ill {
}
.portfolio-card {
  padding: 32px 16px;
}
.portfolio-func {
  font-size: 20px;
  line-height: 1.2;
}
.portfolio-prop {
  font-weight: 400;
  color: #434455;
}
