.portfolio {
}
.portfolio-title {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-ill {
}
.portfolio-func {
  font-size: 20px;
  line-height: 1.2;
}
.portfolio-prop {
  font-weight: 400;
  color: #434455;
}
